.admin-container {
    width: 1435px;
    height: 850px;
    margin: 15px;
    border: 1px solid #de3131;
    background: #eee;
  }

.leftside {
    background-color: #bbb0b0;
    width: 250px;
}

/*.admin-container {
  width: auto;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
  background: #eee;
} */