.example-container {
    width: auto;
    height: 810px;
    margin: 10px;
    border: 1px solid #cfbebe;
    background: #eee;
  }

.example-sidenav {
   background-color: rgb(150, 147, 147);

}

.example-side {
   width: 800px;
   height: 810px;
}

  