.form-container {
    display: flex;
    justify-content: center;
    padding: 70px;
  }
  
  .form-content {
    width: 100%;
    max-width: 800px; /* veya istediğiniz genişlik */
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  